@import '../../config';

.search-page {
  text-align: center;
}

.title {
  font-family: 'Anton';
  font-size: 5.5rem;
  color: $primary-text-color;
  text-transform: capitalize;
}

.sub-title {
  font-family: 'Anton';
  font-size: 2.5rem;
  color: $primary-text-color;
  text-transform: capitalize;
}
