@import '../../config';

.wrapper {
  height: 100vh;
  width: 100vw;
  background: url('../../Images/apple-icon.png');
  text-transform: capitalize;
}

.home-page {
  color: $primary-text-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 5.5rem;
  height: 5rem;
}

h2 {
  font-family: 'Architects Daughter', cursive;
}

.go-to-search-page-button {
  height: 3rem;
}
